<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content content-modal" style="padding-bottom: 64px;">
            <div class="modal-header text-center">
              <!-- IMPORTANT: I chose to put @boat.make for simplicity, but in the long term it should be replaced by a code block for us to choose between name or make -->
                <h4 class="modal-title w-100 font-weight-bold">Book <%= @boat.make %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%= simple_form_for([@boat, @booking]) do |f| %>
                <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' }, prompt: "Start Date"%>
                <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' }, prompt: "End Date" %>
                <%= f.input :description %>
                <%= f.submit class: "btn-bbnb-2", style: "float: right"%>
            <% end %>
        </div>
    </div>
</div>
