
<div class="wrapper2">
  <div class="main" style="padding-bottom: 150px;">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="theform">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>

            <%= f.input :email, required: true, autofocus: true %>
            <%= f.button :submit, "Send me reset password instructions", class: "btn-bbnb-2", style: "float: right;" %>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
