<div class="boat-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('<%= cl_image_path b.photo, height: 300, width: 300, crop: :fill %>')">
  <div class="boat-description">
    <h3 class="boat-card-header"><%= link_to b.make, boat_path(b) %></h3>
    <p><%= b.model %></p>
    <i class="fas fa-user"></i>
    <span class="capacity"><%= b.capacity %></span>
    <i class="fas fa-dollar-sign"></i>
    <span class="price"><%= b.price %></span>
  </div>
  <div class="card-footer">
    <p class="more-info">
      <%= link_to "More info", boat_path(b) %>
    </p>
    <% if current_user.boats.include? b %>
      <%= link_to boat_path(b), method: :delete do %>
        <i class='fa fa-trash'></i>
      <% end %>
    <% end %>
  </div>
</div>
