<%= link_to boat_path(b) do %>
  <div class="boat-card" style="background-image: url('<%= photo_or_generic(b) %>')">
    <%= card_photo_or_generic(b.user) %>
    <div class="boat-description">
      <h3>
        <i class="fas fa-dollar-sign"></i>
        <%= b.price.to_i %>
      </h3>
      <p>Per day</p>
    </div>
    <div class="card-footer">
      <div class="card-footer-capacity ">
        <i class="fas fa-user"></i>
        <span class="capacity"><%= b.capacity %></span>
      </div>
      <div class="card-footer-description">
        <h5><%= b.make %></h5>
        <p><%= b.model %></p>
      </div>
    </div>
  </div>
<% end %>
