<div class="container">
  <%= simple_form_for(@boat) do |f| %>
    <%= f.input :make %>
    <%= f.input :year, collection: Boat::YEAR_OPTIONS %>
    <%= f.input :model %>
    <%= f.input :capacity %>
    <%= f.input :location %>
    <%= f.input :boat_type, collection: Boat::BOAT_TYPE_OPTIONS %>
    <%= f.input :price %>
    <%= f.input :photo, crop: :fill %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
