
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="theform">
      <%= simple_form_for(@boat) do |f| %>

        <%= f.input :make, label: false, placeholder: "Make" %>
        <%= f.input :model, label: false, placeholder: "Model" %>
        <%= f.input :capacity, label: false, placeholder: "Capacity" %>
        <%= f.input :location, label: false, placeholder: "Location" %>
        <%= f.input :price, label: false, placeholder: "Price" %>

        <div class="form-inline">
          <%= f.input :boat_type, collection: Boat::BOAT_TYPE_OPTIONS, label: false, default: "Type" %>
          <%= f.input :year, collection: Boat::YEAR_OPTIONS, label: false, default: "Year" %>
        </div>

        <%= f.input :photo, crop: :fill, label: false %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit class: "btn-bbnb", style: "float: right;" %>
      <% end %>
    </div>
  </div>
</div>




