<div class="message">
  <%= message_photo_or_generic(booking.user)  %>
  <div class="message-name">
    <h3><%= booking.user.profile.name %></h3>
    <p><%= Date.parse(booking.created_at.to_s) %></p>
  </div>
  <div class="message-body">
    <p><strong><%= booking.boat.make %></strong></p>
    <p>From: <strong><%= booking.start_date %></strong> To: <strong><%= booking.end_date %></strong></p>
    <p>
      <%= booking.description %>
    </p>
  </div>
  <div class="message-status">
    <p class="status <%= booking.status.downcase %>"><%= booking.status %></p>
    <p class="price"> <%= booking.boat.price %></p>
  </div>
</div>

