
<div class="wrapper2">
  <div class="main">
    <div class="row" style="height: 100vh">
      <div class="col-md-8 col-md-offset-2">
        <div class="theform">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :password, required: false %>
               <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

              <%= f.button :submit, "Log in", class: "btn-bbnb-2", style: "float: right" %>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
