<h1>Update your boat's features</h1>
<p>Please fill out the form</p>

<%= simple_form_for(@boat) do |f| %>
    <%= f.input :make, { :required => false } %>
    <%= f.input :year, collection: (1880..2020) %>
    <%= f.input :model %>
    <%= f.input :capacity %>
    <%= f.input :location %>
    <%= f.input :boat_type, collection: ["Power", "Sail"] %>
    <%= f.input :price %>
    <%= f.input :photo, crop: :fill %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit %>
<% end %>

