<div class="container">
  <div class="main-container">
    <div class="textbox">
      <h1><%= @boat.name.nil? ? "" : @boat.name %></h1>
      <h3><%= @boat.make %></h3>
      <p><%= @boat.user.profile.nil? ? "" : "Owner: #{@boat.user.profile.name}" %></p>
      <% unless @boat.user == current_user %>
        <div class="text-center">
          <a href="" class="btn btn-primary mb-4" data-toggle="modal" data-target="#modalContactForm">Book</a>
        </div>
      <% end %>
      <div>
        <% if policy(@boat).update? %>
          <%= link_to edit_boat_path(@boat) do %>
            <i class='fa fa-edit'></i>
          <% end %>
        <% end %>
        <% if policy(@boat).destroy? %>
          <%= link_to boat_path(@boat), method: :delete, data: { confirm: "Are you sure?"} do %>
             <i class='fas fa-trash-alt'></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="image-box" style="background-image: url('<%= photo_or_generic(@boat) %>')">
    </div>

    <div class="infobox">
      <div class="description">
        <p>
          Beautiful <%= @boat.boat_type %> boat anchored in <%= @boat.location %>.
          <%= @boat.user.profile.nil? ? "" : "Lovingly presented to you by #{@boat.user.profile.name}."  %>
        </p>
      </div>
      <ul class="nodots">
          <li><i class="fas fa-angle-right"></i> Model: <%= @boat.model %></li>
          <li><i class="fas fa-angle-right"></i> Type: <%= @boat.boat_type %></li>
          <li><i class="fas fa-angle-right"></i> Capacity (people): <%= @boat.capacity %></li>
      </ul>
      <ul class="nodots">
        <li><i class="fas fa-angle-right"></i> Registration Year: <%= @boat.year %></li>
        <li><i class="fas fa-angle-right"></i> Location: <%= @boat.location %></li>
        <li><i class="fas fa-angle-right"></i> Price per day (€): <%= @boat.price %></li>
      </ul>
    </div>
  </div>
</div>

<%= render 'bookings/new' %>



